/* Fonts */
/* Text colors */
/* Background colors */
/* Others */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.section__title::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 220px;
  height: 7px;
  background-color: #F9BF3B;
}
.section__title--dark {
  color: #252525;
}
.section__title--light {
  color: #EFEFEF;
}

.btn {
  font-family: Roboto Condensed, sans-serif;
  text-align: center;
  border: 0;
  min-height: 72px;
  cursor: pointer;
  font-size: 21px;
  line-height: 1.14;
  padding: 24px 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  background: -webkit-gradient(linear, left bottom, left top, from(#2798B9), to(#3AB6DA));
  background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
  -webkit-box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #4A4A4A;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

.hero {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  background-image: url(../images/bg/main_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  min-height: 800px;
}

.logo-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.logo__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-title,
.title--little {
  text-align: center;
  font-weight: 900;
  font-size: 41px;
  line-height: 1;
  text-transform: uppercase;
  color: #F9BF3B;
  margin-bottom: 20px;
}

.title--big {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 80px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.title--big:before, .title--big::after {
  content: "";
  display: block;
  width: 292px;
  height: 2px;
  background-color: #FFFFFF;
}

.hero__text {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.33;
  text-align: start;
  margin-bottom: 75px;
  color: #FFFFFF;
}
.hero__text--accent {
  display: inline-block;
  text-transform: uppercase;
  color: #F9BF3B;
}

.hero__btn {
  margin-bottom: 70px;
}

.hero__more {
  font-weight: 100;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 3px;
}

.img-down {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.about {
  padding-top: 85px;
  padding-bottom: 75px;
  background-color: #EFEFEF;
  text-align: center;
}

.about__text {
  font-size: 23px;
  line-height: 1;
  text-align: center;
  color: #4A4A4A;
  margin-bottom: 45px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.about-item {
  width: 342px;
}
.about-item__img {
  margin-bottom: 25px;
}
.about-item__txt {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #4A4A4A;
}

.optimisation {
  padding-top: 108px;
  padding-bottom: 74px;
  background-image: url(../images/bg/woman_bg.png);
  background-repeat: no-repeat;
  background-position: 150px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.otimisation-text-block {
  width: 750px;
  margin-left: auto;
}

.optimisation__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 27px;
  color: #299CBD;
}

.optimisation-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.59;
  color: #4A4A4A;
  margin-bottom: 17px;
}
.optimisation-text--strong {
  margin-bottom: 0;
  font-weight: 700;
}

.education {
  padding-top: 86px;
  padding-bottom: 69px;
  background-image: url(../images/bg/second_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.section__title--light {
  margin-bottom: 40px;
}

.education-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.education__item {
  width: 220px;
}

.education-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.education__icon-wrapper {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background-color: #B4E2FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education__title {
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.18;
  color: #EFEFEF;
}

.section-gift {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #EFEFEF;
  text-align: center;
}

.gift__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.gift__text {
  font-size: 30px;
  line-height: 1.43;
  text-align: center;
  color: #252525;
  margin-bottom: 50px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1A1A1A;
}

.footer-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.footer-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #888888;
}
.footer-link__devider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 1px;
  height: 15px;
  background-color: #888888;
  margin-left: 3px;
  margin-right: 3px;
}
.footer-link__tel {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */