.section-gift {
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #EFEFEF;
    text-align: center;
}

.gift__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.gift__text {

    font-size: 30px;
    line-height: 1.43;
    text-align: center;

    color: $section-title-dark-color;
    margin-bottom: 50px;
}