/* Fonts */
$main-font: Roboto, sans-serif;
$secondary-font: Roboto Condensed, sans-serif;


/* Text colors */
$primary-text-color: #4A4A4A;
$secondary-text-color: #757575;
$section-title-dark-color: #252525;
$grey-text-color: #EFEFEF;
$accent-color: #F9BF3B;
$secondary-accent-color: #299CBD;
$primary-white-color: #FFFFFF;


/* Background colors */
$section-background-color: #EFEFEF;
$footer-background-color: #1A1A1A;


/* Others */
$border-radius: 4px;
$trans-dur: 250ms;
$trans-t-funct: cubic-bezier(0.4, 0, 0.2, 1);